ul li {
    font-size: 16px;
    margin-right: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

ul li:hover {
    color: #afafaf;
    transition-duration: 500ms;
}

/* ul button {
    color: #ffe600;
} */