<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Ignore index.html itself
  RewriteRule ^index\.html$ - [L]

  # Redirect all non-existing routes to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
