@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ClashDisplay', sans-serif;
}

body {
    @apply bg-dark text-white
}


.container-class {
    @apply w-[92%] max-w-[1280px] mx-auto;
}

.bg-gradient-mine {
    background: linear-gradient(135deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(179, 211, 53, 0) 25%,
            rgba(179, 211, 53, 0.5) 50%,
            rgba(179, 211, 53, 0) 75%,
            rgba(179, 211, 53, 0.3) 100%);
}